body {
    padding-top: 50px;
    padding-bottom: 20px;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ttnavbar {
    margin-top: -50px;
}

.tabla-sucursal {
    margin-bottom: 0px;
}

.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    /*    height: 100px;*/
    border-radius: 5px;
    transition: .3s linear all;
}

    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .card-counter.primary {
        /*background-color: #007bff;*/
        background-color: #02e2b4b0;
        color: #000;
    }

    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }

    /*    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }*/

    .card-counter .count-numbers {
        position: absolute;
        font-size: 40px;
        display: block;
        margin-top: -8px;
    }

    .card-counter .count-name {
        position: absolute;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
        top: 44px;
    }

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    margin-bottom: -30px;
    margin-top: -34px;
}

/*.card-counter .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-counter .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
    }
*/


.card-counter:hover {
    cursor: pointer;
}

    .card-counter:hover .options {
        visibility: visible;
        opacity: 1;
    }

.card-counter primary:hover > .options {
    visibility: visible;
}

.options {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear
}

    .options a {
        background-color: #ffffff;
    }


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 2.375rem;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.details-card {
    /*max-height: 300px;*/
    overflow-y: scroll;
    font-size: 15,5px;
    padding: 0px;
    overflow-y: hidden;
}

    .details-card .card-body {
        padding: 0px;
        margin-top: -6px;
        overflow-y: hidden;
    }

    .details-card .dataTables_scrollHead {
        background-color: #343a40;
        border-color: #454d55;
    }

.dataTables_scrollHead {
    background-color: #343a40;
    border-color: #454d55;
}

div.dataTables_scrollHead table.dataTable {
    margin-top: 0 !important;
}

.scroll {
    /*height: 300px;*/
    /*overflow-y: scroll;*/
}

.card-header {
    /*background-color: #007bff;*/
}

.card-title {
    vertical-align: middle;
    margin: 0px;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255 255 255 / 30%);
    border-radius: 10px;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s linear,opacity 3s linear;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

.dataTables_scrollBody:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    visibility: none;
    opacity: 1;
    transition: visibility 3s linear,opacity 3s linear;
}

.dataTables_scrollBody:hover::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.dataTables_scrollBody:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*ESCONDER SCROLLBAR*/
/*.dataTables_scrollBody {
    overflow-y: hidden !important;
}

    .dataTables_scrollBody:hover {
        overflow-y: scroll !important;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }*/

.dataTables_paginate {
    cursor: not-allowed;
    border: none;
}

    .dataTables_paginate ul li > a {
        border: none;
        border-radius: 10px;
        margin: 2px;
        color: #343a40;
    }

        .dataTables_paginate ul li > a:hover {
            background-color: #343a40;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            margin: 2px;
        }

    .dataTables_paginate .page-item.active .page-link {
        background-color: #343a40;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        margin: 2px;
    }



.tes {
    padding: 17px 0 17px 17px;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

    .tes:hover {
        -webkit-mask-position: left top;
    }

.btn-accordion {
    text-decoration: none;
    font-size: 23px;
    transition: 0.5s ease-in-out
}

    .btn-accordion:hover {
        text-decoration: none;
        font-size: 25px;
        transition: 0.5s ease-in-out
    }

.sucursales-card .card-header {
    height: 75px;
}

.sucursales-transition {
    transition: 0.8s ease-in-out;
}

.home-card .card-body {
    /*padding-top: 0px;*/
    padding-bottom: 0px;
}

.home-card {
    /*padding-bottom: 0px;*/
}

#tbl-sucursales-home {
    margin-bottom: 0px;
    /* border: none; */
}

    #tbl-sucursales-home td {
        padding: 5px;
        border: none;
    }

.home-arrow {
    float: right !important;
    right: 15px;
    top: 47px;
    position: absolute;
    top: 44px;
    text-align: right;
}

/*.badge {
    width: 30%;
}*/

.margin-auto {
    margin: auto;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn-login {
    border-radius: 20px;
}

.login {
    /*background-image: url('lib/img/WhatsApp Image 2021-03-12 at 19.32.09.jpeg');*/
    background-image: url('lib/img/WhatsApp Image 2021-03-12 at 19.32.11.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-login {
    height: 100vh;
}

.input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.span {
    position: absolute;
    margin-left: 5px;
    height: 25px;
    display: flex;
    align-items: center;
}

.input {
    padding-left: 25px;
    height: 20px;
}

.input-img {
    max-width: 100%;
}

.table-intercambiar {
    margin-bottom: 0px;
}

.datatable-productos, .datatable-categorias {
    float: left;
}

#table-productos_wrapper,
#table-categorias_wrapper {
    margin-top: 1rem;
}

.dataTables_filter {
    padding-right: .25rem !important;
}

.table-intercambiar .thead-dark th {
    border: none;
    border-radius: 6px;
}

.table-intercambiar tr:first-child td {
    border-top: none;
}

.intercambiar .select2-container {
    margin: 0 auto;
}

.select2 {
    text-align: left;
}

.select2-container :focus {
    outline: 0;
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
    -moz-box-shadow: 1px 11px 7px 1px rgba(0,123,255,0.75);
}

.select2-search--dropdown .select2-search__field {
    height: 30px;
    padding-right: 25px;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
    color: #ffffff;
    background-color: #343a40c9;
}

.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    color: #fff;
    background-color: #007bff;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
    max-height: 143px;
    overflow-y: auto;
}

    .select2-container--bootstrap4 .select2-results > .select2-results__options::-webkit-scrollbar {
        width: 4px;
        background-color: #ffffff;
    }

    .select2-container--bootstrap4 .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

@media (min-width: 0) {
    .container, .container-sm {
        max-width: 540px;
    }

    .login {
        display: none;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }

    .login {
        display: none;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }

    .login {
        display: flex;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

.select2-search-icon {
    position: absolute;
    right: 10px;
    padding-left: 13px;
    color: grey;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 7px;
}

.inner-addon {
    position: relative;
}

    /* style glyph */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align glyph */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

    input[type="checkbox"].ios8-switch + label {
        position: relative;
        padding: 5px 0 0 50px;
        line-height: 2.0em;
        cursor: pointer;
    }

        input[type="checkbox"].ios8-switch + label:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 40px; /* x*5 */
            height: 24px; /* x*3 */
            border-radius: 16px; /* x*2 */
            background: #fff;
            border: 1px solid #d9d9d9;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        input[type="checkbox"].ios8-switch + label:after {
            content: "";
            position: absolute;
            display: block;
            left: 0px;
            top: 0px;
            width: 24px; /* x*3 */
            height: 24px; /* x*3 */
            border-radius: 16px; /* x*2 */
            background: #fff;
            border: 1px solid #d9d9d9;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        input[type="checkbox"].ios8-switch + label:hover:after {
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
        }

    input[type="checkbox"].ios8-switch:checked + label:after {
        margin-left: 16px;
    }

    input[type="checkbox"].ios8-switch:checked + label:before {
        background: #55D069;
    }

/* SMALL */

input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}

    input[type="checkbox"].ios8-switch-sm + label {
        position: relative;
        padding: 0 0 0 32px;
        line-height: 1.3em;
    }

        input[type="checkbox"].ios8-switch-sm + label:before {
            width: 25px; /* x*5 */
            height: 15px; /* x*3 */
            border-radius: 10px; /* x*2 */
        }

        input[type="checkbox"].ios8-switch-sm + label:after {
            width: 15px; /* x*3 */
            height: 15px; /* x*3 */
            border-radius: 10px; /* x*2 */
        }

        input[type="checkbox"].ios8-switch-sm + label:hover:after {
            box-shadow: 0 0 3px rgba(0,0,0,0.3);
        }

    input[type="checkbox"].ios8-switch-sm:checked + label:after {
        margin-left: 10px; /* x*2 */
    }

/* LARGE */

input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}

    input[type="checkbox"].ios8-switch-lg + label {
        position: relative;
        padding: 7px 0 0 60px;
        line-height: 2.3em;
    }

        input[type="checkbox"].ios8-switch-lg + label:before {
            width: 50px; /* x*5 */
            height: 30px; /* x*3 */
            border-radius: 20px; /* x*2 */
        }

        input[type="checkbox"].ios8-switch-lg + label:after {
            width: 30px; /* x*3 */
            height: 30px; /* x*3 */
            border-radius: 20px; /* x*2 */
        }

        input[type="checkbox"].ios8-switch-lg + label:hover:after {
            box-shadow: 0 0 8px rgba(0,0,0,0.3);
        }

    input[type="checkbox"].ios8-switch-lg:checked + label:after {
        margin-left: 20px; /* x*2 */
    }
